{% extends 'bases/mainbase.html' %}


{% block body %}

<style>
    .custom-container {
        max-width: 725px; 
        margin: 0 auto; 
        align-items: center;
        margin-top: 40px;
        padding: 0px;
        font-family: 'Fira Code';
        border: none
    }
    .text-box {
        width: 190px;                
        height: 50px;               
        display: flex;               
        justify-content: center;     
        align-items: center;         
        border: 1px solid black;    
        border-radius: 2px; 
        background-color: white;  
        text-align: center;  
    }
    .text-box p {
        margin: 0;
    }
    a{
        text-decoration: none;
    }
    #f{
            border: 1px solid black; border-radius: 2px; 
            transition: 200ms;
            transition-delay: 1s;
            transition: .1s ease-in-out;
        }
        #f:hover {
            left: -7px;
            top: -7px;
            box-shadow: 5px 5px 0px 0px #ffbfbf, 10px 10px 0px 0px #cbffbb, 15px 15px 0px 0px #aad6ff;
            border-radius: 0px;
            }
    </style>


<div class="card mb-3 rounded-0 custom-container">
    <div class="row g-0">

      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">

            Discover everything VIT-AP has to offer through our blog, where we share news, updates, and insights for students, alumni, and visitors. Whether you’re looking for academic tips, alumni success stories, or campus happenings, you’ll find it all here.
            </p>
        </div>
      </div>
      
      <div class="col-md-4">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSk5XO2-d9TuVt-xPXVD70QVbnYP9Mb2lbYZg&s" class="img-fluid p-3" alt="Yo">
      </div>
    </div>
  </div>


<div class="custom-container">

    <div class="mb-3">
        <h2>CATEGORIES</h2>
    </div>

    
    <hr>
    
    {% for category in categories %}
    <a href="{% url 'category_page' category.category %}">
    <div class="col rounded-0 mb-3">
        <div class="card rounded-0 border border-dark" id="f">
        <div class="p-2" style="border-bottom: 1px solid blak; background-color: rgb(226, 255, 245); font-weight: bold;">
            {{category.category|capfirst}}
        </div>
        <div class="card-body">
            <p class="card-text" style = "font-size: 12px; max-width: 500px;">
                {{category.category_description}}
            </p>
        </div>
        </div>
    </div>
    </a>

    {% endfor %}

</div>
{% endblock %}