

{% block navbar %}
<nav class="navbar-custom navbar navbar-expand-lg bg-body-tertiary" style="font-family: Fira Code;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'homepage' %}">Canary for VITAP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto"> <!-- ms-auto pushes the links to the right and the logo to the left -->
            <li class="nav-item">
            <a class="nav-link" href="{% url 'homepage' %}">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'blog_page' %}">Blogs</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'categories' %}">Categories</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'loginuser' %}">Join</a>
            </li>
        </ul>
        </div>
    </div>
</nav>
{% endblock %}